In [1]:

import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import requests, json

In [2]:
#Load the data
data=pd.read_csv("titanic.csv")
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#dropping unnecessary features and encoding
le=LabelEncoder()
data['Sex']=le.fit_transform(data['Sex'].astype(str))
data['Embarked']=le.fit_transform(data['Embarked'].astype(str))
data.drop(['PassengerId'],axis=1,inplace=True)
data.drop(['Name'],axis=1,inplace=True)
data.drop(['Ticket'],axis=1,inplace=True)
data.drop(['Cabin'],axis=1,inplace=True)
data.drop(['Age'],axis=1,inplace=True)
data.head()

   Survived  Pclass  Sex  SibSp  Parch     Fare  Embarked
0         0       3    1      1      0   7.2500         2
1         1       1    0      1      0  71.2833         0
2         1       3    0      0      0   7.9250         2
3         1       1    0      1      0  53.1000         2
4         0       3    1      0      0   8.0500         2

In [5]:
#Divide the dataset into features and target variables
X=data.iloc[:,1:]
Y=data['Survived'].to_numpy()
print(X)

     Pclass  Sex  SibSp  Parch     Fare  Embarked
0         3    1      1      0   7.2500         2
1         1    0      1      0  71.2833         0
2         3    0      0      0   7.9250         2
3         1    0      1      0  53.1000         2
4         3    1      0      0   8.0500         2
..      ...  ...    ...    ...      ...       ...
886       2    1      0      0  13.0000         2
887       1    0      0      0  30.0000         2
888       3    0      1      2  23.4500         2
889       1    1      0      0  30.0000         0
890       3    1      0      0   7.7500         1

[891 rows x 6 columns]

In [6]:
#Fit the training data into the Random Forest Classifier
model=RandomForestClassifier().fit(X, Y)

Finally, we can serve the persisted model using a web framework. The following code creates a REST API using Flask. This file is hosted in a different environment, often in a cloud server.

In [7]:
import joblib

joblib.dump(model, 'model.pkl')

['model.pkl']

Run below code after running the web service

Finally, we can serve the persisted model using a web framework. The following code creates a REST API using Flask. This file is hosted in a different environment, often in a cloud server.